.wrap {
    display:grid; 
    grid-template-columns:1.1fr 0.9fr; 
    gap:56px; 
    align-items:center; 
    margin-left: 200px;
}

@media (max-width: 860px) {

    .hero {
        padding-top: 0px;
    }

    .spec-label {
        margin: 30px 0px 0px 30px;
    }

    .wrap {
        grid-template-columns: 1fr;
        margin-left: 0px;

    }
    
    .tag {
        display: none;
    }

    .phone-frame {
        display: none;
    }



}