* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 :root {
    --green-color: #2a4034;
    --red-color: #8a1f24;
    --orange-color: #b33f18;
    --yellow-color: #df8a16;
    --neutral-color: #e2b969;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.body {
    font-family: var(--font-family);
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    position: relative;
}

.welcome {
    text-align: right;
    width: 100%;
    height: 20vh;
    overflow: hidden;
}

.welcome-text {
    display:flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    font-family: var(--font-family);
    font-size: 1.5rem;
    position: absolute;
    z-index: 3;
    right: 2%;
}

.welcome-text h3 {
    font-size: 1.2rem;
    color: var(--green-color);
    margin-bottom: 0.5rem;
}

.welcome img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background-color: var(--orange-color);
    
}

li {
    list-style-type: none;
    
}

a {
    text-decoration: none;
    color: var(--green-color);
}