* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 :root {
    --green-color: #2a4034;
    --red-color: #8a1f24;
    --orange-color: #b33f18;
    --yellow-color: #df8a16;
    --neutral-color: #e2b969;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.welcome {
    text-align: center;
    padding: 2rem 0;
    width: 100%;
    background-image: url("../IMAGES/header-image.jpg");
    background-size: cover;
    background-position: center;
}