* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 :root {
    --green-color: #2a4034;
    --red-color: #8a1f24;
    --orange-color: #b33f18;
    --yellow-color: #df8a16;
    --neutral-color: #e2b969;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --shadow: 0px 0px 5px 1px rgb(170, 170, 170);

    --rp-light-pink: #EEA282;
    --rp-pink: #E3735E;
    --rp-font-color: #531910;
    --rp-neutral: #FFF3E0;
    --rp-yellow: #CD992E;

 }

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-family);
    background-color: var(--rp-neutral);
    color: #333;
    line-height: 1.6; 
    position: relative; 
}

/* HEADER */

/* Welcome */
.welcome {
    text-align: left;
    width: 100%;
    height: 20vh;
    overflow: hidden;
}

.title {
    color: #333;
    font-size: large;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: 1.5rem;
    position: absolute;
    z-index: 3;
    left: 2%;
    
}

.welcome-text h3 {
    font-size: 1.2rem;
    color: var(--green-color);
    font-family: var(--font-family);
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.welcome img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    transform: scaleX(-1);
}

/* Nav */
nav {
    align-items: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #fff;
    padding: 15px;
}

ul {
    display: flex;
    justify-content: space-evenly;

}

li {
    list-style-type: none;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--green-color);
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: var(--orange-color);
    transition: color 0.3s ease-in-out;
}

.contact-btn-nav {
    border: none;
    background-color: transparent;
    color: var(--green-color);
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
    font-weight: bold;
}

.contact-btn-nav:hover {
    color: var(--orange-color);
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}


 /* Dropdown Button */
.dropbtn {
    border: none;
    background-color: #fff;
    color: var(--green-color);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    margin-top: -5px;
    transition: color 0.3s ease-in-out;
}

.dropbtn:hover {
    color: var(--orange-color);
    transition: color 0.3s ease-in-out;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  width: 200px;
  border-radius: 0px 10px 10px 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 0px 10px 0px 0px;
  transition: color 0.3s ease-in-out;
}

.dropdown-content a:hover {
    color: var(--orange-color);
    transition: color 0.3s ease-in-out;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #fff;
} 

/* MAIN */


/* Hero */
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    background-color: #eea2822f;
}

.hero img {
    width: 80%;
    height: 100%;
    object-fit: cover;
}

.thing {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.hero-text {
    margin: 10px;
}

.hero-text h1 {
    font-size: 4rem;
    color: var(--rp-font-color);
}

.hero-text p {
    width: 80%;
    font-size: 1.2rem;
}

.tech-used {
    margin-left: 10px;
    font-size: 1.2rem;
}

/* Overview */

.overview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    margin: 30px;
    margin-top: 50px;
    margin-bottom: 150px;
    position: relative;
    gap: 100px;
}

.overview-container-1 {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, #FFF3E0, #EEA282 );
    width: 80%;
    height: auto;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    position: absolute;
    left: 100px;
    top: 0px;
}

.overview-container-1 .text {
    margin-left: 5%;
}


.overview-container-1 > h2 {
    font-size: 2.5rem;
    padding: 30px;
}

.overview-container-1 > p {
    font-size: 1.5rem;
}

 .overview-container-2 {
    display: flex;
    align-self: flex-end;
    background-image: linear-gradient(to right, #EEA282, #FFF3E0 );
    width: 80%;
    padding: 20px;
    border-radius: 10px 0px 0px 10px;
    position: absolute;
    right: 100px;
    bottom: 0px;
 } 

 .overview-container-2 .text {
    margin-right: 5%;
    text-align: end;
 }

 .overview-container-2 > h2 {
     font-size: 2.5em;
    padding: 30px;
    margin-right: -100px;
 }

 .overview-container-2 > p {
     font-size: 1.5em;
 } 

 .scroll {
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 1s, transform 1s;
}

.scroll--show {
    opacity: 1;
    transform: translateY(0);
 }



 /* Features */

.key-features {
    width: 100%;
    height: 110vh;
    background-color: var(--rp-yellow);
    position: relative;
}

.boxes-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    gap: 50px;
    left: 10%;
    top: 50px;
    z-index: 2;
    flex: 1;
}

.boxes img {
    width: 80%;
    transition: transform 1.5s ease-in-out;
    /*position: absolute;*/
}

.boxes img:hover {
    transform: translateY(-20px);
    transition: transform 1.5s ease-in-out;
}

.shadow {
    display: flex;
    width: 25%;
    height: 4%;
    border-radius: 50%;
    background-color: #5319106b;
    position: absolute;
    z-index: 1;
    filter: blur(5px);
    transition: width 1s ease-in-out;
}

.shadow--change {
    width: 20%;
}

.hover-text {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
 }

 .hover-text--show {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
 }

 .hover-text p {
    margin-top: 60px;
    color: #fff;
    font-size: 1.2rem;
 }

 @media screen and (max-width: 412px) {
    .key-features {
        height: 230vh;
    }
    .boxes-container {
        display: flex;
        flex-direction: column;
    }

    .shadow {
        width: 85%;
        height: 25px;
    }

    .hover-text {
        opacity: 1;
        padding: 10px 30px;
    }
}


/* Design Approach */

.design-approach {
    width: 100%;
    height: 120vh;
    overflow: hidden;
}

.design-approach h2 {
    font-size: 2.5rem;
    padding: 30px 50px;
}

.design-approach h3 {
    padding: 10px 50px;
    color: #8a1f24;
}

.design-approach p {
    padding: 10px 50px;
    font-size: 1em;
}

/* Results */

.result {
    width: 100%;
    height: 80vh;
    background-color:#eea2827a;
}
.result h2 {
    font-size: 2.5rem;
    padding: 10px 50px;
}

.result p {
    padding: 20px;
    font-size: 1.2rem;
    padding: 20px 60px;
}

.see-more {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 40px;
}

.see-more h3 {
    font-size: 1.5rem;
    margin: 20px;
}

.see-more img {
    width: 40%;
    height: auto;
    object-fit: contain;
}

.git {
    display: column;
    align-items: center;
}

.to-git {
    font-size: 1.2rem;
    margin-left: 40px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    transition: transform 0.3s ease;
    background-color: #8a1f24;
}

.to-git:hover {
    background-color: #E3735E;
}


@media screen and (max-width: 768px) {
    .result {
        height: 130vh;
    }
    .see-more {
        display: flex;
        flex-direction: column;
    }
    .see-more img {
        width: 100%;
    }
    .git {
        margin-left: 80px;
    }
}


@media screen and (max-width: 412px) {
    .result {
        height: 80vh;
    }
    .see-more {
        display: flex;
        flex-direction: column;
        margin-left: 60px;
    }

    .see-more img {
        width: 80%;
    }
    .git {
        margin-left: -10px;
    }
}

/* Call to action */

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding: 50px;
  
}

.learn-more {
    width: 70%;
    height: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: var(--shadow);
}

.learn-more h2 {
    font-size: 2.5rem;
}

.learn-more h3 {
    font-size: 1.5rem;
}

.resume-btn,
.email-btn {
    font-family: var(--font-family);
    background-color: var(--red-color);
    padding: .5em;
    font-size: 1.2rem;
    margin: 10px;
    color: #fff;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    transition: color 1s ease-in-out;
}

.resume-btn:hover,
.email-btn:hover {
    background-color: #fff;
    color: var(--orange-color);
}

.more-work {
    display: flex;
    flex-direction: column;

}

.links a {
    margin-left: 20px;
}

@media  (max-width: 412px) {
    .learn-more {
        width: 400px;
    }
}

/* FOOTER */
footer {
    background-color: var(--orange-color);
    width: 100%;
    text-align: center;
    color: #1b1b1b;
    padding: 20px;
}

