* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 :root {
    --green-color: #2a4034;
    --red-color: #8a1f24;
    --orange-color: #b33f18;
    --yellow-color: #df8a16;
    --neutral-color: #e2b969;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --shadow: 0px 0px 5px 1px rgb(170, 170, 170);

 }

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-family);
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6; 
    position: relative; 
}

/* HEADER */

/* Welcome */
.welcome {
    text-align: left;
    width: 100%;
    height: 20vh;
    overflow: hidden;
}

.title {
    color: #333;
    font-size: large;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: 1.5rem;
    position: absolute;
    z-index: 3;
    left: 2%;
}

.welcome-text h3 {
    font-size: 1.2rem;
    color: var(--green-color);
    font-family: var(--font-family);
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.welcome img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    transform: scaleX(-1);
}

/* Nav */
nav {
    align-items: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #fff;
    padding: 15px;
}

ul {
    display: flex;
    justify-content: space-evenly;

}

li {
    list-style-type: none;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--green-color);
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: var(--orange-color);
    transition: color 0.3s ease-in-out;
}

.resume-btn-nav {
    cursor: pointer;

}

.resume-btn-nav:hover {
    color: var(--orange-color);
}

.contact-btn-nav {
    border: none;
    background-color: transparent;
    color: var(--green-color);
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
    font-weight: bold;
}

.contact-btn-nav:hover {
    color: var(--orange-color);
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}



 /* Dropdown Button */
.dropbtn {
    border: none;
    background-color: #fff;
    color: var(--green-color);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    margin-top: -5px;
    transition: color 0.3s ease-in-out;
}

.dropbtn:hover {
    color: var(--orange-color);
    transition: color 0.3s ease-in-out;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  width: 200px;
  border-radius: 0px 10px 10px 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 0px 10px 0px 0px;
  transition: color 0.3s ease-in-out;
}

.dropdown-content a:hover {
    color: var(--orange-color);
    transition: color 0.3s ease-in-out;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #fff;
} 


/* MAIN */


/* Hero */

.hero {
    width: 100%;
    height: 20vh;
    overflow: hidden;
    object-fit: cover;
    background-image: linear-gradient(to bottom, #fff, #590F99);
}

.hero img {
    width: 100%;
    height: auto;
    opacity: 50%;
}


/* Intro */

.intro {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 80vh;
    background-color: #fff;
    box-shadow: var(--shadow)
}

.intro-text {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.intro-text h1 {
    font-size: 7rem;
}

.intro-text p {
    font-size: 1.5rem;
}

.intro-image img {
    margin-top: 50px;
}


.square {
    width: 200px;
    height: 350px;
    background-color: rgb(189, 189, 189);
}

@media screen and (max-width: 768px) {
    .intro-text {
        width: 400px;
    }
}

@media screen and (max-width: 412px) {
    .intro {
        display: flex;
        flex-direction: column;
        width: 100%;

    }
    .intro-text {
        width: 100%;
        margin-left: -30px;
    }
    .intro-text h1 {
        font-size: 5rem;
    }
    .intro-image {
        width: 450px;
    }
}

/* Overview */ 

.overview {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 30px;

}

.overview h2 {
    font-size: 2.5rem;
}

.overview p {
    font-size: 1.3rem;
    margin-top: -20px;
}

@media screen and (max-width: 768px) {
    .overview {
        height: 150vh;
    }
    .overview p {
        width: 400px;
    }
}

@media screen and (max-width: 412px) {
    .overview {
        width: 100%;
        height: 110vh;
    }

    .overview p {
        width: 300px;
    }
}

/* Features */

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #fff;
    box-shadow: var(--shadow);
}

.features h2 {
    font-size: 2.5rem;
}

.display {
    display: flex;
    align-items: center;
    height: 80vh;
    width: 100%;
    overflow: hidden;
    background-color: rgb(85, 85, 85);
    position: relative;
}

@keyframes blink {
      0% {
        visibility: hidden;
        opacity: 0;
      }
      1% {
        visibility: visible;
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
        visibility: visible;
      }
}


.instructions {
    visibility: hidden;
    position: absolute;
    font-size: 1.5rem;
    color: #fff;
    bottom: 50px;
    left: 600px;
    animation: blink 3s linear infinite;
    animation-delay: 3s;
}

.hover-sidebar {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color:  rgb(189, 189, 189);
    padding: 40px 50px;
    width: 250px;
    height: 100%;
    gap: 60px;
}

.display-titles {
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.display-titles:hover {
    color: #fff;
    transition: color 0.3s ease-in-out;
    cursor: default;
    transform: translateX(5px);
}


.content-display {
    flex: 1;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.feature-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    animation: fadeIn 0.4s ease-in;
}

.feature-content.active {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.feature-image {
    width: 100%;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

}

.feature-description {
    font-size: 1rem;
    color: #fff;
    text-align: center;
    line-height: 1.8;
    width: 100%;
}

.content-display {
    padding: 30px;
}

.preview-display {
    display: flex;
    width: 100%;
}

.preview-image {
    width: 100%;
    height: auto;
    filter: 50%;
}

@media screen and (max-width: 768px) {
    .hover-sidebar {
        width: 120px;
    }
    .display-titles {
        margin-left: -40px;
    }
}

/* Design Approach */

.design-approach {
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;    
    padding: 100px;
}

.design-approach h2 {
    font-size: 2.5rem;
    padding: 20px;
}

.design-approach p {
    margin: 20px;
    font-size: 1.2rem;
}

@media screen  and (max-width: 768px) {
    .design-approach {
        height: 190vh;
    }
    .design-approach p {
        width: 400px;
    }
}

@media  (max-width: 412px) {
    .design-approach {
        height: 120vh;
    }

    .design-approach p {
        width: 300px;
    }
}

/* Impact */

.impact {
     display: flex;
    flex-direction: column;
    height: 90vh;
    padding: 50px;
    background-color: #fff;
    box-shadow: var(--shadow);
}

.impact h2 {
    font-size: 2.5rem;
    padding: 20px;
}

.impact p {
    font-size: 1.2rem;
}

.see-more {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-right: 150px;
}

.see-more h3{
    font-size: 1.5rem;
    margin: 20px;
}

.git {
    display: column;
    align-items: center;
    justify-content: center;
}

.to-git {
    margin-left: 70px;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 10px;
    border: none;
    transition: transform 0.3s ease;
}

.to-git:hover {
    background-color: #590f994b;
}


@media screen and (max-width: 768px) {
    .impact {
        display: flex;
        height: 120vh;
    }
    .see-more {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 100px;
    }
    .see-more img {
        width: 300px;
    }

    .git {
        width: 300px;
        margin-left: 80px;
    }

}


@media screen and (max-width: 412px) {
    .impact {
        height: 80vh;
    }
    .see-more {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 140px;
    }

    .see-more img {
        width: 200px
    }
    .git {
        width: 300px;
    }
}

/* Call to action */

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 50px;
  
}

.learn-more {
    width: 50%;
    height: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: var(--shadow);
}

.learn-more h2 {
    font-size: 2.5rem;
}

.learn-more h3 {
    font-size: 1.5rem;
}

.resume-btn,
.email-btn {
    font-family: var(--font-family);
    background-color: var(--red-color);
    padding: .5em;
    font-size: 1.2rem;
    margin: 10px;
    color: #fff;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    transition: color 1s ease-in-out;
}

.resume-btn:hover,
.email-btn:hover {
    background-color: #fff;
    color: var(--orange-color);
}

.more-work {
    display: flex;
    flex-direction: column;

}

.links a {
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .learn-more {
        width: 500px;
    }
}


@media  (max-width: 412px) {
    .learn-more {
        width: 400px;
    }
}


/* FOOTER */
footer {
    background-color: var(--orange-color);
    width: 100%;
    text-align: center;
    color: #1b1b1b;
    padding: 20px;
}